body{
    font-size: 3em;
    margin: 0;
}

ul, ol{
    padding: 0;
}

li{
    margin-left: 4em;
}

.tag{
    border: solid 0.05em;
    margin: 0.01em;
}

.tag label{
    color: #fff;
    font-size: 0.75em;
    vertical-align: top;
    margin-right: 0.05em;
    padding: 0em 0.5em 0.04em 0.04em;
}