* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game_board {
    width: 80%;
    height: 50vh;
    margin: 25vh auto;

    border: 1px solid #000;
    border-bottom: 20px solid #73091b;
    background: linear-gradient( #36BBF0, #2A51F8 );

    position: relative;
    overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 96px;
    image-rendering: pixelated;

    animation: pipe 2s infinite linear;
}

@keyframes pipe {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}


.running, .jumping, .falling, .die, .death {
    position: absolute;
    height: 100%;
    bottom: 0;
}

.player {
    position: absolute;
    bottom: -4px;
    left: -40px;
    height: 160px;
}

.player img{
    height: 100%;
    image-rendering: pixelated;
    bottom: 0;
}

.tjumping {
    animation: jump 1s;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 170px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 170px;
    }

    100% {
        bottom: 0;
    }
}

.cloud {
    position: absolute;
    background: #fefefe;
    border-radius: 100%;
    animation: clouds infinite linear;
}

@keyframes clouds {
    from {
        right: -256px;
    }

    to {
        right: 100%;
    }
}